<h1>Editing pending member</h1>

<%= render "form", pending_member: @pending_member %>

<br>

<div>
  <%= link_to "Show this pending member", @pending_member %> |
  <%= link_to "Back to pending members", pending_members_path %>
</div>
