<h1>New pending member</h1>
<h2>After submiting your information. An officer of our organization will review your account request.</h2>


<%= render "form", pending_member: @pending_member %>

<br>



<div>
  <%= link_to "Home", new_admin_session_url%>
</div>
