<h1>New pending member</h1>
<h2>After submiting your information. An officer of our organization will review your account request.</h2>



<%= render "form", pending_member: @pending_member %>
<h3>Select the check box to agree to let DLCF store your information(name, email, and attendance record).</h3>

<br>



<div>
  <%= link_to "Home", new_admin_session_url%>
</div>
