<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deeper Life Campus Fellowship</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>


<div class="center text-tile">
<h2>You're Logged into the Officer Dashboard</h2>

<%
=begin%>
 <%= link_to "Members", member_url , class: "link-button"%>
<%= link_to "Events", event_url , class: "link-button"%>
<%= link_to "Attendance Tracking", attendance_url , class: "link-button"%>
<%= link_to "Org Info", orgininfo_url , class: "link-button"%> 
<%
=end%>


</div>
</body>