/* Mobile Styles */
@media screen and (max-width: 768px) {
    body {
        background-color: #7AB4C1;
        color: #FFFFFF;
    }

    .mobile-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
    }

    .grid-item {
        margin: 5px;
        text-align: center;
    }

    .link-button {
        background-color: green;
        color:  #000000;
        border: none;
        border-radius: 4px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: normal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .link-button:hover {
        background-color: #FDA564;
        color:  #FFFFFF;
        border: none;
        border-radius: 4px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        margin: 4px 2px;
        cursor: pointer;
    }

    .text-tile {
        background-color: #10545F;
        color: #FFFFFF;
        border-radius: 2px;
        padding: 20px;
        font-size: 1.3em;
    }

    .list-tile {
        margin-top: 15px;
        background-color: #10545F;
        border: 2px solid #FFFFFF; /* 4px thickness, solid black color */
        padding: 16px;
    }

    .info-title {
        font-size: 1.35em;
    }

    .info-text {
        margin-top: 15px;
    }

    .officer-title {
        font-size: 1.8em;
        margin-top: 15px;
    }

    #satisfaction-dropdown{
        margin: 8px;
        display: inline-block;
        width: 20%;
        max-width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: Arial, sans-serif;
        font-size: 1.2em;
        color: #000;
        background-color: #fff;
        box-shadow: 0 2px 4px #000;
        transition: border-color 0.3s, box-shadow 0.3s;
       }
      
       #satisfaction-dropdown:focus {
        border-color: #FD8E3C;
        box-shadow: 0 6px 10px #FD8E3C;
      }
      
      #satisfaction-dropdown:hover {
        border-color: #FD8E3C;
        box-shadow: 0 6px 10px #FD8E3C;
      }
}
  

/* Desktop Styles */
@media screen and (min-width: 769px) {
    body {
        background-color: #7AB4C1;
        color: #FFFFFF;
    }

    .text-tile {
        background-color: #10545F;
        color: #FFFFFF;
        border-radius: 2px;
        padding: 20px;
        font-size: 1.3em;
    }

    .list-tile {
        margin-top: 15px;
        background-color: #10545F;
        border: 4px solid #FFFFFF; /* 4px thickness, solid black color */
        padding: 16px;
    }

    .bottom-navigation {
        margin-top: 15px;
    }

    .input-label {
        font-family: Arial, sans-serif;
        font-size: 1.3em;
        margin-top: 20px;
    }

    .submit-form-button {
        margin-top: 15px;
    }

    .info-title {
        font-size: 1.35em;
    }

    .info-text {
        margin-top: 15px;
    }

    .officer-title {
        font-size: 1.8em;
        margin-top: 40px;
    }

    .form-input {
        margin: 8px;
        display: inline-block;
        width: 100%;
        max-width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: Arial, sans-serif;
        font-size: 1.2em;
        color: #000;
        background-color: #fff;
        box-shadow: 0 2px 4px #000;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    .form-input:focus {
        border-color: #FD8E3C;
        box-shadow: 0 6px 10px #FD8E3C;
    }

    .form-input:hover {
        border-color: #FD8E3C;
        box-shadow: 0 6px 10px #FD8E3C;
    }

    .link-button {
        background-color: #FD8E3C;
        color:  #000000;
        border: none;
        border-radius: 4px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        margin: 4px 2px;
        cursor: pointer;
    }

    .link-button:hover {
        background-color: #FDA564;
        color:  #FFFFFF;
        border: none;
        border-radius: 4px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        margin: 4px 2px;
        cursor: pointer;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
    }

    #satisfaction-dropdown{
        margin: 8px;
        display: inline-block;
        width: 20%;
        max-width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: Arial, sans-serif;
        font-size: 1.2em;
        color: #000;
        background-color: #fff;
        box-shadow: 0 2px 4px #000;
        transition: border-color 0.3s, box-shadow 0.3s;
       }
      
       #satisfaction-dropdown:focus {
        border-color: #FD8E3C;
        box-shadow: 0 6px 10px #FD8E3C;
      }
      
      #satisfaction-dropdown:hover {
        border-color: #FD8E3C;
        box-shadow: 0 6px 10px #FD8E3C;
      }
}
  
