.main-body-container {
    /* display: grid; */
    /* grid-template-rows: auto auto; */
    color: black;
}

.body-item {
    margin: 20px;
}

.header-container {
    border-style: solid;
    text-align: center;
}

.event-container {
    border-style: solid;
}


.event-tile{
    color: black;
    width: 100px;
}

.event-list {
    /* list-style-type: none; */
    color: blue;
}

.back-button {
    text-align: center;
}

#satisfaction-dropdown{
    margin: 8px;
    display: inline-block;
    width: 20%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #000;
    background-color: #fff;
    box-shadow: 0 2px 4px #000;
    transition: border-color 0.3s, box-shadow 0.3s;
   }
  
   #satisfaction-dropdown:focus {
    border-color: #FD8E3C;
    box-shadow: 0 6px 10px #FD8E3C;
  }
  
  #satisfaction-dropdown:hover {
    border-color: #FD8E3C;
    box-shadow: 0 6px 10px #FD8E3C;
  }
