<div class="center text-tile">
<h1>Duplicated event</h1>


 <%= render "duplicate_form", event: @event %> 

</div>

<div class="center bottom-navigation">
  <%= link_to "Back to events", events_path , class:"link-button" %>
</div>
