<div class="center text-tile">
<h1>New event</h1>

<%= render "form", event: @event %>

</div>

<div class="center bottom-navigation">
  <%= link_to "Back to events", events_path , class:"link-button" %>
</div>
