
<p style="color: green"><%= notice %></p>

<div class="center text-tile list-tile">
<%= render @event %>


</div>

<div class="center bottom-navigation">
  <%= link_to "Back to Schedule", event_schedule_path, class: "link-button"%> 

</div>
