<p style="color: green"><%= notice %></p>

<div class="center text-tile">
<h1>Information</h1>

</div>
# Only need to render 1 org_info instance that will be edited
<div id="orginfos" class="center text-tile">
  <% if @orginfos.any? %>
  <%= render @orginfos.first %>
  <p>
    <%= link_to "View this", @orginfos.first, class: "link-button" %>
  </p>
  <% end %>

</div>

 <div class="center bottom-navigation">

  <%= link_to 'Back to Dashboard', officer_dashboard_index_path , class: "link-button" %>

  </div>

