<p style="color: green"><%= notice %></p>

<div class="center text-tile">
<h1>Information</h1>

<div id="orginfos>
    <%= render @orginfos.first %>
    <p>
      <%= link_to "View this", @orginfos.first , class: "link-button" %>
    </p>
</div>
</div>

 <div class="center bottom-navigation">

  <%= link_to 'Back to Dashboard', officer_dashboard_index_path , class: "link-button" %>

  </div>

