<p style="color: green"><%= notice %></p>

<div class="center text-tile">
<h1>Information</h1>
</div>
<div id="orginfos" class="center text-tile">
  <% @orginfos.each do |orginfo| %>
    <%= render orginfo %>
    <p>
      <%= link_to "View this", orginfo , class: "link-button" %>
    </p>
  <% end %>
</div>

 <div class="center bottom-navigation">

  <%= link_to 'Back to Dashboard', officer_dashboard_index_path , class: "link-button" %>

  </div>

