<p style="color: green"><%= notice %></p>

<div class="center text-tile">
<%= render @orginfo %>

<div class="center bottom-navigation">
  <%= link_to "Edit", edit_orginfo_path(@orginfo) , class: "link-button" %>
  <%= link_to "Back", orginfos_path , class: "link-button" %>

</div>

</div>
