<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deeper Life Campus Fellowship</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>


<div class="center text-tile">
<h2>You're Logged out! Log in to the Admin Dashboard</h2>
<%
=begin%>
 <div class="link-?button"> 
<%
=end%>
<%= button_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path , class: "link-button"%>
<%
=begin%>
 </div> 
<%
=end%>
</div>
</body>