<p style="color: green"><%= notice %></p>
<div class="center text-tile">

<h1>Feedbacks</h1>

<div id="feedbacks">
  <% @feedbacks.each do |feedback| %>
    <%= render feedback %>
    <p>
      <%= link_to "Show this feedback", feedback %>
    </p>
  <% end %>
</div>

<%= link_to "Back to dashboard", officer_dashboard_index_path , class: "link-button" %>

</div>