<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deeper Life Campus Fellowship</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="center">
<h1>You're logged in! Welcome to the Admin Dashboard!</h1>
<%= link_to "Sign Out", destroy_admin_session_path , class: "link-button"%>
</div>
</body>