/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body{
  background-color: #7AB4C1;
  color: #FFFFFF;
 }

 .text-tile{
   background-color: #10545F;
   color: #FFFFFF;
   border-radius: 2px;
   padding: 20px;
 }

 .link-button{
   background-color: #FD8E3C;
   color:  #000000;
   border: none;
   border-radius: 4px;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }

 .link-button:hover{
   background-color: #FDA564;
   color:  #FFFFFF;
   border: none;
   border-radius: 4px;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }



 .center {
    margin: auto;
    width: 50%;
    text-align: center;
  }


