.main-body-container {
    /* display: grid; */
    /* grid-template-rows: auto auto; */
    color: black;
}

.body-item {
    margin: 20px;
}

.header-container {
    border-style: solid;
    text-align: center;
}

.event-container {
    border-style: solid;
}

.event-item {
    /* display: grid; */

    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    margin: 20px;
    color: red;
}

.event-list {
    /* list-style-type: none; */
    color: blue;
}

.back-button {
    text-align: center;
}