<div id="<%= dom_id attendance %>">
  <div class="input-label">
    <strong>Member:</strong>
    <%=  Member.find_by(id: attendance.member_id).preferred_name %>
  </div>

  <div class="input-label">
    <strong>Event:</strong>
    <%= Event.find_by(id: attendance.event_id).event_name %>
  </div>

</div>
