<div id="<%= dom_id attendance %>">
  <p>
    <strong>Member:</strong>
    <%=  Member.find_by(id: attendance.member_id).preferred_name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= Event.find_by(id: attendance.event_id).event_name %>
  </p>

</div>
