<div class="center text-tile">
<h1>Sign in</h1>

<%= render "form", attendance: @attendance %>

<br>

<div>
  <%= link_to "Back to events", member_index_events_path, class:"link-button" %>
</div>

</div>
