<p style="color: green"><%= notice %></p>

<%= render @attendance %>

<div>
  
  <%= link_to "Back to attendances", attendances_path %>
  <div style="margin-top: 10px;"></div>
  

  <%= button_to "Destroy this attendance", @attendance, method: :delete %>
</div>
