<p style="color: green"><%= notice %></p>

<div class="center text-tile">
<%= render @attendance %>


  
  
  <div style="margin-top: 10px;"></div>
  

  <%= button_to "Remove this attendance", @attendance, method: :delete , class: "link-button" %>

  <%= link_to "Back to event", event_path(@attendance.event_id), class: "link-button" %>
</div>
