
<div class="center text-tile list-tile">
<%= render "newmemberform", member: @member %>

</div>

<div class="center bottom-navigation">
  <%= link_to "Back to events", member_index_events_path , class: "link-button"%>

</div>
